/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Case Problem 2

   Spice Bowl Payment Form Validation Style Sheet
   Author: Caleb Cullins
   Date:   04/10/19

   Filename: sb_validate.css

*/input:not([type= ' radio ' ]):focus
{
	background-color:rgb(255,218,165);
}

input:not([type= ' radio ' ]):focus:valid
{
	background-color:rgb(215, 255, 215);
	
}

input:not([type= ' radio ' ]):focus:invalid
{
	background-color:rgb(255, 245, 215);
}
/* Validation Styles */

