@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 1
   
   Author:   Caleb Cullins
   Date:     
   
   Filename: gp_layout.css

   This file contains the layout styles and media
   queries used with sample pages from the Golden
   Pulps website.

*/


/* Import Basic Design Styles Used on All Screens */

@import url("gp_designs.css");

/* Flex Layout Styles */

body
{
	display: flex;
	flex-wrap: wrap;
}
body > footer
{
	order: 100;
}




/* ============================================
	Mobile Devices: 0 - 480 pixels
   ============================================
*/
@media only screen and (max-width: 480px)
{
	.pannel 
	{
		width:100%;
	}
	.horizontal 
	{
		order: 99;
	}
	
	
}




/* ===================================================
	Tablet and Desktop Devices: Greater than 480 pixels
   ===================================================
*/
@media only screen and (min-width: 480px)
{
	nav > ul
	{
		display: flex;
		height: 40px;
		flex-direction: row;
		
	}
	ul > li 
	{
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: auto;
		
	}
	
	.size1
	{
		width: 100%;
	}
	.size2
	{
		width: 60%;
	}
	.size3
	{
		width: 40%;
	}
	.size4
	{
		width: 30%;
	}
		
}


