@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 1
   
   Author:   Caleb Cullins
   Date:     
   
   Filename: gp_print.css

   This file contains the printer styles used with the sample
   comic book pages from Golden Pulps.

*/



/* Hidden Objects */
@media print nav, footer, article
{
	display: none;
}

@media print #sheet
{
	width: 576px;
}
.size1
{
	width:480px;
}
.size2
{
	width:288px;
}
.size3
{
	width:192px;
}
.size4
{
	width:144px;
}






/* Comic Book Sheet Styles */
section
{
	flex-grow:3;
	flex-shrink:1;
	flex-basis:301px;
}
article
{
	flex-grow:1;
	flex-shrink:3;
	flex-basis:180px;
}












