@media only print 
{
	html
	{
		background-color:white;
		color:black;
	}
	body 
	{
		background-color:white;
		color:black;
	}
	article
	
	{
		background-color:white;
		color:black;
	}
	img
	{
		display:none !important;
	}
	nav
	{
		display:none !important;
	}
	
}