@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Case Problem 4
   
   Browyer Realty Layout Styles
   Author: Caleb Cullins
   Date:   03/18/19
	
   Filename: br_styles.css

*/
nav.horizontal ul li {
   background-color: rgb(204, 0, 0);
   display: block;
   font-size: 15px;
   float: left;
   line-height: 30px;
   height: 30px;
   width: 200px;
}

nav.horizontal a {
   display: block;
   text-align: center;
   text-decoration: none;
}
   
nav.horizontal a:link, nav.horizontal:visited {
	color: white;}
}

nav.horizontal a:hover, nav.horizontal:active {
   background-color: rgb(102, 0, 0);
}

body
{
	background-image: url("27.jpg");
	background-image: repeat;
	color: white;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: rgb(204, 0, 0);
  text-align: center;

}
.footer a:link, nav.horizontalfooter:visited {
	color: white;}

.footer a:hover, nav.horizontalfooter:active {
   background-color: rgb(102, 0, 10);
}

.footer ul li {
   background-color: rgb(204, 0, 0);
   display: block;
   font-size: 15px;
   float: left;
   line-height: 30px;
   height: 30px;
   width: 200px;
   text-decoration:none;
}
.footer a {
   display: block;
   text-align: center;
   text-decoration: none;
}
article
{
	background-color: white;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}

#address
{
	margin-top: 20px;
}


